<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='calculator.css') }}">
</head>

<body>
 <a href="/" class="back-btn">Back</a>

<div class="calculator">

<h2>Simple Calculator</h2>

<form action="/calculate" method="POST">

<input type="number" name="num1" placeholder="Enter number 1">

<input type="number" name="num2" placeholder="Enter number 2">

<select name="operation">
<option value="add">Add</option>
<option value="sub">Subtract</option>
<option value="mul">Multiply</option>
<option value="div">Divide</option>
</select>

<button type="submit">Calculate</button>

</form>

{% if result is defined %}
<div class="result-box">
    <p class="result-line">Result: <span>{{ result }}</span></p>
</div>
{% endif %}

</div>

</body>
</html>
